.header {
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
  position: absolute;
  width: 100%;
  color: #023047;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
}
.header__title {
  color: #023047;
  font-weight: 1000;
  text-align: center;
  font-size: 23px
}
.header__button{
  font-size: 11px;
}

.mainContent {
  display: flex;
  height: 100vh;
  padding-top: 60px;
}
.loginform {
  flex: 0.36;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginform > .ant-form {
  width: 60%
}
.loginform__title{
  font-size: 28px;
  font-weight: bold;
  color: #023047;
  text-align: center;
}
.loginform__subtitle {
  font-size: 13px;
  text-align: center;
  padding-bottom: 20px;
}

.loginform__blueBg {
  flex: 0.64;
  background-color: #023047
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #023047;
  border-color: #023047;
}
.ant-checkbox-checked .ant-checkbox-inner :focus {
  background-color: #023047;
  border-color: #023047;
}
.ant-form-item-control-input {
  min-height: 0px;
}

@media screen and (max-width: 935px){
  .loginform__blueBg, .header__button {
    display:none
  }
  .mainContent {
    justify-content: center;
  }
  .loginform {
    min-width: 100vw;
  }
  .loginform > .ant-form {
    width: 60%;
    min-width: 210px;
  }
}
